.light-rays-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.light-rays-container canvas {
  width: 100%;
  height: 100%;
  opacity: 0.5; /* şeffaflık - değerle oyna */
  mix-blend-mode: screen; /* ışık efekti gibi içerikle karışsın */
}
